
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body class="container">
    <div id="react-app"></div>

    <script src="~/dist/bundle.js"></script>
</body>
</html>

