
@{
    ViewData["Title"] = "Prohibido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-danger">Esta es un area no autorizada.</h1>
<h2 class="text-danger">Inicie sesión antes de ingresar.</h2>
